@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    border-bottom: 3px solid goldenrod;
    background: rgb(113, 89, 193);
}

header div {
    text-align: center;
}

.menu a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 30px;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(207, 202, 202);
    transition: color 150ms;
}

.content {
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    margin: 25px;
    color: rgb(154, 142, 191);
}

.content img {
    width: 250px;
    border-radius: 50%;
    border: 3px solid goldenrod;
}

.content h3, p {
    color: rgb(154, 142, 191);
}

.content h3 {
    margin: 20px auto;
    font-size: 20px;
    line-height: 30px;
}

.content p{
    margin: 20px auto;
    max-width: 600px;
    font-size: 15px;
    line-height: 25px;
}

.techs {
    background: goldenrod;
    border-radius: 30px;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.techs h3 {
    color: whitesmoke;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.techs ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    list-style-type: none;
}

footer {
    padding: 30px;
    border-top: 3px solid goldenrod;
    background: rgb(113, 89, 193);
}

footer div {
    text-align: center;
}

.networks a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 30px;
    text-decoration: none;
}

.networks a:hover {
    color: rgb(207, 202, 202);
    transition: color 150ms;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background-color: goldenrod;
    border-radius: 20px;
    border: 2px solid rgb(113, 89, 193);
    margin-bottom: 45px;
    align-items: center;
}

.course_logo1 {
    margin: 50px 60px;
}

.course_logo2 {
    margin: 50px 10px;
}

.course_logo3 {
    margin: 50px 45px;
}

.course_title h1 {
    color: white;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.course_title, .course_content {
    padding: 15px;
    text-align: center;
}

.course_content p {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: white;
}

.course_price {
    background-color: goldenrod;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
    color: whitesmoke;
}