{% extends "layout.njk" %}

{% block content %}
        <section class="content">
            <h1>Rocketseat</h1>
            <img src="/assets/logo-rocketseat.png" alt="logo-rocketseat">
            <h3>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h3>
            <p>Imagine você dominando as mesmas tecnologias adotadas pelos melhores times do mundo, construindo aplicações de alta performance e se destacando entre os maiores programadores.</p>
        </section>
        <section class="techs">
            <h3>Tecnologias:</h3>
            <ul>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Javascript</li>
                <li>NodeJS</li>
                <li>ReactJS</li>
                <li>React Native</li>
            </ul>
        </section>
{% endblock %}