{% extends "layout.njk" %}

{% block content %}
    <div id="not-found">
        <h1>PAGE NOT FOUND</h1>
        <div class="image">
            <img src="/assets/erro-404.jpg" alt="Imagem de página não encontrada">
        </div>
        <p>A página procurada não existe <a href="/"><b>clique aqui</b></a> para voltar a home page.</p>
    </div>

{% endblock %}