@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

header {
    padding: 30px;
    border-bottom: 3px solid goldenrod;
    background: rgb(113, 89, 193);
}

header div {
    text-align: center;
}

footer {
    padding: 30px;
    border-top: 3px solid goldenrod;
    background: rgb(113, 89, 193);
}

footer div {
    text-align: center;
}

.menu a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 30px;
    text-decoration: none;
}

.menu a:hover {
    color: rgb(207, 202, 202);
    transition: color 150ms;
}

.content {
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    margin: 25px;
    color: rgb(154, 142, 191);
}

.content img {
    width: 250px;
    border-radius: 50%;
    border: 3px solid goldenrod;
}

.content h3, p {
    color: rgb(154, 142, 191);
}

.content h3 {
    margin: 20px auto;
    font-size: 20px;
    line-height: 30px;
}

.content p{
    margin: 20px auto;
    max-width: 600px;
    font-size: 15px;
    line-height: 25px;
}

.techs {
    background: goldenrod;
    border-radius: 30px;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.techs h3 {
    color: whitesmoke;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.techs ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    list-style-type: none;
}

.networks a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 30px;
    text-decoration: none;
}

.networks a:hover {
    color: rgb(207, 202, 202);
    transition: color 150ms;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 65vh;
    width: 90vw;
    margin: 0 auto;
    cursor: pointer;
}

.card {
    background-color: goldenrod;
    border-radius: 20px;
    border: 2px solid rgb(113, 89, 193);
    margin-bottom: 50px;
    display: grid;
    align-items: center;
}

.card img {
    margin-bottom: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.course_logo {
    position: relative;
    padding-top: 100px;
}

.course_description p {
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
}

.course_title h1 {
    color: white;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
}

.course_title, .course_content {
    padding: 10px;
    text-align: center;
}

.course_price {
    background-color: goldenrod;
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
    color: whitesmoke;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

.container {
    display: grid;
    height: 65vh;
    width: 90vw;
    margin: 0 auto;
}
#not-found {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
}

#not-found h1 {
    max-width: 750px;
    margin: 10px auto;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: rgb(113, 89, 193);
}

#not-found p {
    max-width: 750px;
    margin: 10px auto;
    margin-bottom: 40px;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    color: rgb(113, 89, 193);
}

#not-found p a {
    text-decoration: none;
    color: goldenrod;
}

#not-found p a:hover {
    color: rgb(255, 183, 0);
    transition: color 1000ms;
}

#not-found img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.course_id {
    font-size: 25px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    color: rgb(154, 142, 191);
}
.course {
    margin: 0 auto;
    max-width: 80%;
}

.card_course {
    position: relative;
    padding-top: 50%;
    margin: 0 1.5%;
}

.card_course iframe {
    width: 100%;
    height: 100%;
    position: absolute; 
}